html {
	position: relative;
  	min-height: 100%;
}

body {
	
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	background-color: lemonchiffon;
	text-align: center;

}

article {
	padding:1em;
	max-width:42em;
	margin:auto;
	border-color: lightcoral;
	background-color: cornsilk;
	border-width: 1em;
	border-style: groove;
	text-align: left;

}

.home {
	padding:0;
	position: relative;
	width: auto;
	left: 0;
	bottom: 0;
	color: #ffffff;
	text-align: center;
}


img {
	padding:0;
	position: relative;
	width: auto;
	max-width: 100%;
	text-align: center;
}